:root{
	--mainColor:#E9F1FA;
	--secondaryColor:#EFFAFD;

	--borderColor:black ;

	--mainText:black;
	--secondaryText:#4b5156;

	--themeDotBorder:#24292e;

	--previewBg:rgb(251, 249, 243, 0.8);
	--previewShadow:#E0E0E0;


	--buttonColor:black;
	--buttonText: white;


}

.dark-theme{
	--mainColor:#021b37;
	--secondaryColor:#70a5b4;

	--borderColor:white ;

	--mainText:white;
	--secondaryText:white;

	--themeDotBorder:white;

	--previewBg:rgba(24, 200, 235, 0.8);
	--previewShadow:#021b37;


	--buttonColor:white;
	--buttonText: black;
}

body{
    background: var(--mainColor);
	line-height: 3;
	max-width: 170vh;
	margin-left: 20vh;
	font-style: oblique;
	color: var(--mainText)
}

p{
	text-align: center;
	font-size: 17px;
	
}